//	Card Component
.Cards {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	flex: 0 0 auto;
	order: 1;
	align-self: center;
	width: 90%;
	margin: 0 0 1rem 0;
	padding: 0.625rem 0;
	box-shadow: 0 1px 1px #ccc;
	border-radius: 0.25rem;
	background-color: $white;
	color: $black;

	.Title {
		padding: 0.25rem 0;
		font-weight: bold;
		text-align: center;
		text-transform: capitalize;
	}

	.Priority,
	.Status,
	.CreatedBy,
	.AssignTo {
		padding: 0.25rem 2rem;
		text-align: left !important ;
	}

	select {
		border: none;
		background: $trello-sky-50;
	}

	.cardBtn {
		align-self: center;
	}
}
