.userInfo {
	width: 22rem;
	max-width: 1125px;
	margin: 5% auto 0 auto;
	border-radius: 4px;
	padding: 2rem 2rem;
	background-color: rgb(255, 255, 255);
}

label.input_base {
	display: flex;
	align-items: center;
	margin: 2rem 0;
	border-bottom: 1px solid rgb(0, 194, 224);

	&:first-child {
		margin-top: 0;
	}
}

span.input_label {
	font-weight: 600;
	text-transform: uppercase;
	color: rgb(0, 0, 0);
}

input.question {
	padding: .25rem .5rem;
	outline: 0;
	flex: 1 1 auto;
	border: none;
	background: rgba(0, 0, 0, 0);
	font-size: 1rem;
}