$trello-sky-50: rgb(228, 247, 250);
$trello-sky-300: rgb(92, 211, 229);
$trello-sky-500: rgb(0, 194, 224);
$trello-sky-600: rgb(0, 174, 204);
$trello-sky-700: rgb(0, 152, 183);
$trello-sky-800: rgb(0, 130, 160);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);