@import "./partials/_reset";
@import "./partials/_clearfix";
@import "./partials/_userforms";
@import "./partials/_newCard";

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: rgb(0, 174, 204);
	width: 100%;
}

#root {
	text-align: center;
}

// Homepage
.App {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	text-align: center;
	background-color: rgb(0, 174, 204);
	padding-bottom: 1.5rem;
}

// Nav
.Nav {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

// Header of Kanban
.MainHeader {
	display: flex;
	flex-flow: row nowrap;
	flex: 0 0 100%;
	order: 0;
	background-color: rgb(0, 152, 183);
	box-shadow: 0 0 2px rgb(0, 130, 160);

	h1 {
		text-align: center;
		width: 100%;
		font-family: "Aladin", cursive;
		color: rgb(41, 204, 229);
		font-size: 1.5rem;
		padding: 1rem 0;
		letter-spacing: 0.125rem;
	}

	a {
		color: rgb(255, 255, 255);
		text-decoration: none;
		flex: 0 0 auto;
		align-self: center;
		margin: 0.5rem;

		input[type="text"] {
			margin-bottom: 0.5rem;
		}
	}

	// Button to add new card to Kanban
	#addCard {
		text-align: center;
		width: 4rem;
		padding: 1rem 0;
		background: rgb(228, 247, 250);
		font-size: 1.75rem;
		color: rgb(0, 0, 0);
		cursor: pointer;
	}
}

// Buttons
input[type="submit"] {
	margin-bottom: 0.5rem;
	border: none;
	border-radius: 2px;
	padding: 10px;
	background-color: rgb(0, 194, 224);
	cursor: pointer;
	color: rgb(255, 255, 255);
	font-size: 0.75rem;

	&.cardBtn, &.newCardBtn {
		margin-top: 1rem;
	}
}

//	Card Component
.Cards {
	order: 1;
	border-radius: 0.25rem;
	margin: 0 0 1rem 0;
	width: 90%;
	align-self: center;
	background-color: rgb(255, 255, 255);
	box-shadow: 0 1px 1px #ccc;
	padding: 0.625rem 0;

	.Title {
		font-weight: bold;
	}

	.Title,
	.Priority,
	.Status,
	.CreatedBy,
	.AssignedTo {
		padding: 0.25rem 0;
	}

	select {
		border: none;
		background: rgb(228, 247, 250);
	}
}

.MainBoard {
	order: 2;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin-top: 1.5rem;
}

#Queue,
#InProgress,
#Done {
	flex: 0 0 90%;
	background-color: rgb(224, 224, 224);
	height: auto;
	border-radius: 0.5rem;
	margin-bottom: 1rem;

	// Flexbox on cards
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;

	h2 {
		flex: 0 0 auto;
		order: 0;
		font-size: 1.25rem;
		font-weight: bold;
		padding: 1rem 0;
		margin-bottom: 1rem;
		background-color: rgb(255, 255, 255);
		border-radius: 0.5rem 0.5rem 0 0;
		box-shadow: 0 1px 1px #ccc;
	}
}

// Desktop
@media screen and (min-width: 600px) {
	body {
		overflow-x: scroll;
	}

	#newCard {
		flex: 0 0 27%;
		max-width: 17rem;
		margin: 1.5rem 45% 0 45%;
	}

	.MainBoard {
		flex: 0 0 90%;
		flex-flow: row nowrap;
		justify-content: space-around;
		max-width: 58rem;
		max-height: 40rem;
		overflow-x: auto;
		overflow-y: hidden;
		margin: 1.5rem auto 0 auto;
	}

	#Queue,
	#InProgress,
	#Done {
		flex: 0 0 30%;
		overflow: scroll;

		h2 {
			position: sticky;
			top: 0;
		}
	}
}
