.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  color: white;
  background-color: #222;
  height: 150px;
  padding: 20px;
}

.App-intro {
  font-size: large;
}

.Cards {
  border: 2px solid black;
  margin: 5px 0;
}

#InProgress {
  background-color: pink;
}

#Queue {
  background-color: powderblue;
}


#Done {
  background-color: yellow;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
