/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
#root {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* close commented backslash hack */
.userInfo {
  width: 22rem;
  max-width: 1125px;
  margin: 5% auto 0 auto;
  border-radius: 4px;
  padding: 2rem 2rem;
  background-color: white; }

label.input_base {
  display: flex;
  align-items: center;
  margin: 2rem 0;
  border-bottom: 1px solid #00c2e0; }
  label.input_base:first-child {
    margin-top: 0; }

span.input_label {
  font-weight: 600;
  text-transform: uppercase;
  color: black; }

input.question {
  padding: .25rem .5rem;
  outline: 0;
  flex: 1 1 auto;
  border: none;
  background: transparent;
  font-size: 1rem; }

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #00aecc;
  width: 100%; }

#root {
  text-align: center; }

.App {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  background-color: #00aecc;
  padding-bottom: 1.5rem; }

.Nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }

.MainHeader {
  display: flex;
  flex-flow: row nowrap;
  flex: 0 0 100%;
  order: 0;
  background-color: #0098b7;
  box-shadow: 0 0 2px #0082a0; }
  .MainHeader h1 {
    text-align: center;
    width: 100%;
    font-family: "Aladin", cursive;
    color: #29cce5;
    font-size: 1.5rem;
    padding: 1rem 0;
    letter-spacing: 0.125rem; }
  .MainHeader a {
    color: white;
    text-decoration: none;
    flex: 0 0 auto;
    align-self: center;
    margin: 0.5rem; }
    .MainHeader a input[type="text"] {
      margin-bottom: 0.5rem; }
  .MainHeader #addCard {
    text-align: center;
    width: 4rem;
    background: #e4f7fa;
    font-size: 1.75rem;
    color: black;
    padding: 1rem 0; }

#newCard {
  flex: 0 0 22rem;
  order: 1;
  background-color: white;
  color: black;
  border-radius: 0.5rem;
  box-shadow: 0 1px 1px #0082a0;
  padding: 1rem 0 0.75rem 0;
  margin-top: 1.5rem; }
  #newCard select {
    background: #e4f7fa;
    border: none;
    margin-bottom: 0.5rem; }
  #newCard input[type="text"] {
    margin-bottom: 0.5rem; }

input[type="submit"] {
  margin-bottom: 0.5rem;
  border: none;
  border-radius: 2px;
  padding: 10px;
  background-color: #00c2e0;
  cursor: pointer;
  color: white;
  font-size: 0.75rem; }

.Cards {
  order: 1;
  border-radius: 0.25rem;
  margin: 0 0 1rem 0;
  width: 90%;
  align-self: center;
  background-color: white;
  box-shadow: 0 1px 1px #ccc;
  padding: 0.625rem 0; }
  .Cards .Title {
    font-weight: bold; }
  .Cards .Title,
  .Cards .Priority,
  .Cards .Status,
  .Cards .CreatedBy,
  .Cards .AssignedTo {
    padding: 0.25rem 0; }
  .Cards select {
    border: none;
    background: #e4f7fa; }

.MainBoard {
  order: 2;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 1.5rem; }

#Queue,
#InProgress,
#Done {
  flex: 0 0 90%;
  background-color: #e0e0e0;
  height: auto;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start; }
  #Queue h2,
  #InProgress h2,
  #Done h2 {
    flex: 0 0 auto;
    order: 0;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 1rem 0;
    margin-bottom: 1rem;
    background-color: white;
    border-radius: 0.5rem 0.5rem 0 0;
    box-shadow: 0 1px 1px #ccc; }

@media screen and (min-width: 600px) {
  body {
    overflow-x: scroll; }
  #newCard {
    flex: 0 0 27%;
    max-width: 17rem;
    margin: 1.5rem 45% 0 45%; }
  .MainBoard {
    flex: 0 0 90%;
    flex-flow: row nowrap;
    justify-content: space-around;
    max-width: 58rem;
    max-height: 40rem;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 1.5rem auto 0 auto; }
  #Queue,
  #InProgress,
  #Done {
    flex: 0 0 30%;
    overflow: scroll; }
    #Queue h2,
    #InProgress h2,
    #Done h2 {
      position: sticky;
      top: 0; } }
